@mixin dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

.switcher {
  display: flex;
  gap: 0.75rem;
}

.link {
  color: #a1a1aa;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;

  &:hover {
    color: #52525b;
  }

  @include dark {
    color: #71717a;

    &:hover {
      color: #a1a1aa;
    }
  }
}

.active {
  color: #000000;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;

  @include dark {
    color: #fafafa;
  }
}
